.SearchButton{
  margin: 30px 0px;
}

.card-link{
  cursor: pointer;
}
.searchCardBody{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchCardBody-sale{
  right: 0%;
  bottom: 2%;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  color: orangered;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid orangered;
  border-radius: 10px;
  padding: 3px;
}

.searchCardBody-title{
  height: 48px;
}

.list-group-item+.searchCardBody-refund{
  color:rgb(19, 219, 162);
  font-weight: 600;
}

.purchaseSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;;
}

.soldOut{
  font-size: 18px;
  font-weight: 700;
  color: red;
}